@import '../../main.scss';

section.details {
    padding: 20px 0;
    width: 100%;

    div.locHost {
        @include display(flex, row, space-between, center);
        padding: 20px 0;
    }

    div.tagsRate {
        @include display(flex, row, space-between, center);
        padding: 20px 0;
    }

    div.collapses {
        @include display(flex, row, space-evenly, center);
        padding: 20px 0;
        width: 100%;

        div.collapse-container {
            width: 41%;
            color: $color-primary;
            background-color: $color-tertiary;
            border-radius: 5px;
            margin: 10px 0;
        }
    }
}