div.containerError {
    padding-bottom: 100px;

    h1 {
        font-size: 288px;
        color: #FF6060;
        text-align: center;
        font-weight: 700;
    }

    p {
        color: #FF6060;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }

    a {
        color: #FF6060;
        font-size: 18px;
        font-weight: 500;
    }
}