@import '../../../main.scss';

div.containerHost {
    @include display(flex, row, space-between, center);

    p {
        margin-right: 10px;
        font-weight: 500;
        font-size: 18px;
        color: $color-secondary;
        text-align: right;
        max-width: 100px;

        @media screen and (max-width: 650px) {
            font-size: 12px;
        }
    }

    img {
        object-fit: cover;
        width: 64px;
        object-position: center;
        border-radius: 50px;

        @media screen and (max-width: 650px) {
            width: 32px;
        }
    }


}