@import '../../../main.scss';

div.containerRates {
    font-size: 24px;
    font-weight: 500;
    display: flex;

    i {
        margin-left: 10px;
    }

    i.red {
        color: $color-secondary;
    }

    i.grey {
        color: #E3E3E3;
    }
}