@import '../../../main.scss';

div.containerRates {
    color: $color-secondary;
    font-weight: 500;
    display: flex;

    h3 {
        font-size: 36px;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}