@import '../../../main.scss';

div.containerRates {
    font-size: 24px;
    font-weight: 500;
    display: flex;

    @media screen and (max-width: 650px) {
        font-size: 13px;
    }

    i {
        margin-left: 10px;

        @media screen and (max-width: 650px) {
            margin-right: 10px;
            margin-left: 0;
        }
    }

    i.red {
        color: $color-secondary;
    }

    i.grey {
        color: #E3E3E3;
    }
}