div.collapse-container {
    width: 80%;
    color: #fff;
    background-color: #F6F6F6;
    border-radius: 5px;
    margin: 10px 0;

    .collapse-title {
        position: relative;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #FF6060;
            padding: 0px 20px;
            border-radius: 5px;
            height: 70px;
        }


        .collapse-txt {
            color: #000;
            padding: 15px;
            max-height: 180px;
            opacity: 1;
            transition: 1s cubic-bezier(.73, .31, .18, .79);
            overflow: hidden;

            p {
                text-align: left;
                color: #FF6060;
                margin: 0;
            }
        }

        .collapse-txt-hidden {
            opacity: 0;
            padding: 0 15px;
            transition: 1s cubic-bezier(.73, .31, .18, .79);
            max-height: 0;
            overflow: hidden;

            p {
                text-align: left;
                color: #FF6060;
                margin: 0;
            }
        }

        h2 {
            font-weight: 500;
        }

        i.arrow-up {
            font-size: 32px;
            animation: up .3s forwards;
        }

        @keyframes up {
            from {
                transform: rotate(180deg);
            }

            to {
                transform: rotate(0deg)
            }
        }

        i.arrow-down {
            font-size: 32px;
            animation: down .3s forwards;
        }

        @keyframes down {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(180deg)
            }
        }
    }

    .collapse-title:hover {
        cursor: pointer;
    }


}