@import '../../main.scss';

.collapse {
    background-color: $color-tertiary;
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;

    .title {
        @include display(flex, row, space-between, center);
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        padding: 10px 15px;
        cursor: pointer;

        h2 {
            font-weight: 500;
            margin: 0;
        }

        i.arrow {
            font-size: 32px;
            transition: .3s;

            @media screen and (max-width: 650px) {
                font-size: 18px;
            }
        }

        i.arrow-up {
            transform: rotate(180deg);
        }

        i.arrow-down {
            transform: rotate(0);
        }

        @media screen and (max-width: 650px) {
            font-size: 13px;
        }
    }

    .collapse-txt {
        color: #000;
        padding: 15px;
        max-height: 180px;
        opacity: 1;
        transition: 1s cubic-bezier(.73, .31, .18, .79);
        overflow: hidden;

        p {
            text-align: left;
            color: $color-secondary;
            margin: 0;
        }
    }

    .collapse-txt-hidden {
        opacity: 0;
        padding: 0 15px;
        transition: 1s cubic-bezier(.73, .31, .18, .79);
        max-height: 0;
        overflow: hidden;

        p {
            text-align: left;
            color: $color-secondary;
            margin: 0;
        }
    }
}

.logementCollapseContainer {
    @include display(flex, row, space-between, center);
    gap: 70px;
    margin: 30px 0;
    width: 100%;

    .logementCollapse {
        width: 50%;

        @media screen and (max-width: 650px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1350px) {
        padding: 0 15px;
    }

    @media screen and (max-width: 650px) {
        @include display(flex, column, center, center);
        gap: 25px;
        padding: 0 15px;
        margin: 15px 0;
    }
}