@import '../../../main.scss';

div.containerTags {
    @include display(flex, row, space-between, center);

    @media screen and (max-width: 650px) {
        width: 100%;
        gap: 5px;
    }

    p {
        font-size: 18px;
        padding: 10px 30px;
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 35px;
        margin-right: 15px;

        @media screen and (max-width: 650px) {
            border-radius: 5px;
            font-size: 10px;
            margin: 0;
            padding: 5px 15px;
        }
    }
}